@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    margin: 0;
    padding: 0;
}

.site {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: block;
    width: 100%;
    background-color: #005291;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.813rem;
}

h3 {
    font-size: 2.125rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
    margin: 0.5rem 0 0.5rem 0;
}

p {
    font-size: 1rem;
}

/* Nav */
.notes-ctrl-sorter {
    display: flex;
    justify-content: flex-end;
}

/* main content: notelist*/
/* erste Ebene section  .notes */
.notes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/*zweite Ebene article .note-card */

.note-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* checkbox to finish note dependencies with  title style h5 */
.chbx-note-finished {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem 0 0.5rem 0;
}

/* title and description */
.notetext {
    display: flex;
    flex-direction: column;
}

/* Rating */

.scored-sign::after {
    content: "\2605";
    color: gold;
}

.unscored-sign::after {
    content: "\2605";
    color: #ccc;
}

/* Rating-Error */
.error-sign::after {
    content: "\2614 ";
    color: black;
}

/* Note-Edit Button  */
.btn-note-edit {
    height: 1.5rem;
    width: 2.5rem;
    margin: 0.5rem 0 0.5rem 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #005291;
    color: white;
}