/* scss Hauptdatei für das Thema dark
 * besteht aus
 * _layout.scss (partial for layout für static modules Header, Footer, Nav )
 * den scss-Files of the component
 * notelist.scss
 * notedetail.scss*/

/* partial _layout.scss  */
@import '../../shared/_darklayout.scss';
/* notelist partial */
@import '../../notelist/_darkstylenotelist.scss';
/* notedetail partial */
@import '../../notedetail/_darkstylenotedetail.scss';