/* scss main file for the theme blue
 * containing:
 * _layout.scss (partial for layout for static modules Header, Footer, Nav )
 * the scss-Files of the component
 * _stylenotelist.scss
 * _stylenotedetail.scss'
 */

/* partial _layout.scss  */
@import '../../shared/_layout.scss';
/* notelist partial */
@import '../../notelist/_stylenotelist.scss';
/* notedetail partial */
@import '../../notedetail/_stylenotedetail.scss';