@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Raleway);

.content {
    font-family: 'Roboto', sans-serif;
}



.notes {
    display: -webkit-flex;
    display: flex;

    background-color: dodgerblue ;
}
.note {
    background-color: ghostwhite ;
    width: auto;
}
.note-finished {
    background-color: dodgerblue;
    width: auto;
}
.note-edit {
    background-color: dodgerblue;
    width: auto;
}

.notes-details {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.title {
    font-family: 'Railway', sans-serif;
}