@import 'stylenotedetail.scss';

.note-form {
  color: $GreenColor;
  background-color: $DarkColor;
  border-radius: 2rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
}

.duedate {
  background-color: white;
}

form button:active {
  background-color: $GreenColor;
}
