$NotecardBackgroundColor: $DarkColor;
$NotecardBorderColor: $GreenColor;
$NotecardHoverColor: $DarkGreenShadedColor;
.site {
background-color: #ecebe8;
background-image: url("../scss/image/noise-texture.png");
}
/* main content: notelist*/
/* erste Ebene section  .notes */
.notes {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*zweite Ebene article .note-card */

.note-card {
  color: $GreenColor;
  background-color: $NotecardBackgroundColor;
  display: flex;
  flex-direction: row;
  flex-basis: 45%;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 2rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  width: 45%;
  border: 0.125rem solid $NotecardBorderColor;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.note-card:hover {
  background-color: $NotecardHoverColor;
}

/* checkbox to finish note dependencies with  title style h5 */
.chbx-note-finished {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  flexbase: 10%;
  margin: 0.5rem 1.5rem 0.5rem 1.5rem ;
}

/* title and description */
.notetext {
  display: flex;
  flex-basis: 75%;
  justify-content: flex-start;
  flex-direction: column;
}

/* Rating */

.scored-sign::after {
  content: "\2605";
  color: gold;
}

.unscored-sign::after {
  content: "\2605";
  color: #ccc;
}

/* Rating-Error */
.error-sign::after {
  content: "\2614 ";
  color: black;
}

/* Note-Edit Button  */
.btn-note-edit {
  flex_basis: 15%;
  height: 1.5rem;
  width: 2.5rem;
  margin: 0.5rem 0 0.5rem 0;
}
.btn-note-edit:hover {
  background-color: $GreenColor ;
}

