$NotecardBackgroundColor: #CCDCE9;
$NotecardBorderColor: #005291;
/* main content: noteList*/
/* erste Ebene section  .notes */
.notes {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
}

/*zweite Ebene article .note-card */

.note-card {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  border-radius: 2rem;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border: 0.125rem solid $NotecardBorderColor;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.note-card:hover {
  background-color: $NotecardBackgroundColor;
}

/* checkbox to finish note dependencies with  title style h5 */
.chbx-note-finished {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

/* title and description */
.notetext {
  display: flex;
  flex-direction: column;
}

/* Rating */

.scored-sign::after {
  content: "\2605";
  color: gold;
}

.unscored-sign::after {
  content: "\2605";
  color: #ccc;
}

/* Rating-Error */
.error-sign::after {
  content: "\2614 ";
  color: black;
}

/* Note-Edit Button  */
.btn-note-edit {
  height: 1.5rem;
  width: 2.5rem;
  margin: 0.5rem 0 0.5rem 0;
}
