/* Moved to shared
 *Basic Layout for
 * header
 * nav
 * body
 * headings
 * footer */

/* dark layout */
@import url(https://fonts.googleapis.com/css?family=Orbitron);

$Orbitron-font-stack: 'Orbitron', sans-serif;

$DarkColor: black;
$ColorForDarkBackground: white;
$ColorBackgroundTitle: #faed7b;
$DarkGreenShadedColor:#226346;
$GreenColor:#00FF00;

body {
  margin: 0;
  padding: 0;
}

.site {
  font-family: $Orbitron-font-stack;
  display: flex;
  flex-direction: column;
}

header {
  display: block;
  width: 100%;
  background-color: $DarkColor;
  color: $ColorBackgroundTitle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $Orbitron-font-stack ;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.813rem;
}

h3 {
  font-size: 2.125rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  margin: 0.5rem 0 0.5rem 0;
}

p {
  font-size: 1rem;
}

/* Nav */
.notes-ctrl-sorter {
  display: flex;
  justify-content: flex-end;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: $DarkColor;
  color: $ColorBackgroundTitle;
}