$NotecardBackgroundColor: $DarkColor;
$NotecardBorderColor: $GreenColor;
$NotecardHoverColor: $DarkGreenShadedColor;
$ColorAccordion: #faed7b;
.site {
background-color: #ecebe8;
background-image: url("../scss/image/noise-texture.png");
}
/* main content: notelist*/
/* erste Ebene section  .notes */
.notes {
  flex-direction: row;
}
/*zweite Ebene article .note-card */
.note-card {
  color: $GreenColor;
  background-color: $NotecardBackgroundColor;
}
.note-card:hover {
  background-color: $NotecardHoverColor;
}

.accFirstRow::after {
  content: "\23EC";
  color: $ColorAccordion;
  margin: 0 0 0 0;
}

.btn-note-edit:hover {
  background-color: $GreenColor ;
}

